*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #090b0d;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #090b0d;
}

.navbar .main-nav {
  list-style: none;
  position: relative;
}

.main-nav li {
  position: relative;
  display: inline-block;
  color: #9fb3bf;
  height: 40px;
}

.main-nav li a {
  display: block;
  height: 100%;
  padding: 10px;
  color: #9fb3bf;
  font-size: 14px;
  text-decoration: none;
  background-color: #090b0d;
  transition: 0.1s ease-in;
}

.main-nav li a:hover {
  background-color: #9fb3bf;
  color: #090b0d;
}

.submenu {
  position: relative;
}

.submenu a {
  display: flex !important;
}

.submenu a svg {
  height: 20px;
  width: 20px;
  fill: #9fb3bf;
  transition: 0.3s ease;
}

.submenu a:hover svg {
  fill: #090b0d;
}

.submenu ul {
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 150px;
  transition: 0.5s ease;
}

.submenu ul li {
  width: 100%;
  border-bottom: 1px solid #425059;
}

.submenu ul li a {
  color: #090b0d;
  background-color: #9fb3bf;
}

.submenu ul li a:hover {
  color: #9fb3bf;
  background-color: #090b0d;
}

.submenu:hover ul {
  opacity: 1;
  display: block;
}

.submenu:hover a svg {
  transform: rotate(180deg);
}

.container {
  padding: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 100px;
}

.profile-image {
  background: url("/assets/imgs/dp.jpg") center center no-repeat;
  background-size: cover;
  border: 6px solid #9fb3bf;
  height: 500px;
  width: 350px;
  border-radius: 5px;
  position: relative;
} 

.profile-image::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  border: 6px solid #425059;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
}

.title {
  color: #9fb3bf;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 70px;
}

.bio > p {
  color: #425059;
  margin-bottom: 30px;
}

.first-letter {
  font-size: 35px;
}

.sub-title {
  color: #9fb3bf;
}

.footer {
  color: #fff;
  text-align: center;
}

/* Appraisal Page */
.main, .grey-color {
  background-color: #425059;
}

.black-color {
  background-color: #090b0d;
}

.appraisal-content {
  text-align: center;
  color: #9fb3bf;
}

.appraisal-content h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 30px;
}

.appraisal-content p {
  margin-top: 1rem;
  margin-bottom: 76px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.card {
  background: #9fb3bf;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card h1 {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card p {
  text-align: center;
}

.font {
  font-size: 60px;
  color: #fff;
}

.icon {
  width: 100px;
  height: 100px;
  background: #090b0d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}